<!doctype html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>RETRIVE DATA</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<h1><a href="{% url 'home' %}" class="top-menu"> Companies list </a></h1>
<h3> <u>{{instance.company_name}} details</u></h3>
<h4>company id :{{ instance.id }}</h4><br>
<h4>company image :<img src='{{instance.company_logo.url}}'/></h4><br>
<h4>company city :{{ instance.company_city }}</h4><br>
</body>
</html>
